* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
  }
  #hero {
    padding-top: 100px;
  }
  section {
    padding: 80px 0;
  }
  a {
    text-decoration: none !important;
  }
  .link {
    position: relative;
  }
  .link::after {
    content: "";
    position: absolute;
    top: 18px;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #6fe7dd;
    z-index: -1;
  }
  .z-index-0 {
    z-index: 99 !important;
  }
  .heading-1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .heading-2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .heading-3 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
  }
  .heading-4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
  }
  .link:hover::after {
    width: 10%;
    transition: all 0.8s ease-in-out;
  }
  .caption {
    color: #107be9;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
  }
  .service-icon {
    width: 40px;
    height: 40px;
  
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .color-1 {
    background-color: #6fe7dd;
  }
  .color-2 {
    background-color: #ffc93c;
  }
  .color-3 {
    background-color: #f73859;
  }
  .color-4 {
    background-color: #107be9;
  }
  .service-icon-2 {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .btn-video {
    position: relative;
    display: block;
  }
  #fig {
    display: none;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
  }
  .btn-video::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all ease;
  }
  .btn-video:hover::before {
    overflow: auto;
    opacity: 1;
  }
  .btn-video span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .test-img {
    width: 60px;
    height: 60px;
  }
  .feature-container:hover {
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  li {
    list-style: none !important;
  }
  .border-radious {
    border-radius: 50px;
  }
  .card-body {
    padding: 40px 0 !important;
  }
  .card-body p {
    text-align: left !important;
  }
  .top-up:hover {
    transition: 0.4s all;
    transform: translateY(-16px);
    box-sizing: border-box !important;
  }
  .opacity {
    color: #333;
    opacity: 0.6;
  }
  .contact-box {
    box-shadow: 19px 20px 0px rgb(0 0 0 / 40%) !important;
  }
  .contact-box p {
    margin-bottom: 20px !important;
  }
  ul {
    list-style: none !important;
    padding: 0 !important;
  }
  footer {
    padding: 3rem 0;
  }
  footer ul li a {
    color: #333;
    margin-bottom: 10px !important;
  }
@media screen and (max-width:900px) {
    .col-12{
        margin-bottom: 30px !important;
    }  
   
}